@import 'tailwindcss';

:root {
	--background: #32373a;
	--foreground: #ffffff;
	--primary: #1cbecb;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--font-sans: var(--font-reggae-one);
	--font-mono: var(--font-inter);
	--shadow-blue: 3px 5px 10px rgba(28, 190, 203, 0.25);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter);
}

h1 {
	font-family: var(--font-reggae-one);
}
